<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Входящий перечень объектов недвижимости</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Hey! I'm modal content component!
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="ok()">Сохранить изменения</button>
    <button type="button" class="btn btn-default" (click)="close()">Отмена</button>
  </div>
</div>
